@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    position: relative; /* Add this to make ::before absolute positioning work */
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    min-height: 100vh;
    overflow: hidden;
}
  
  body::before {
    content: "";
    background-image: url('../images/Background.jpg'); /* Path to your image in the images folder */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7; /* Set the desired opacity */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .vertical-bar {
    background-color: grey; /* Change to your desired color */
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; /* Text color */
}
  .container {
    margin-top: 200px;
    display: flex;
    align-items: flex-start; /* Align content to the top */
    margin-left: 200px;
    height: 100%;
    width: 100%;
    flex-direction: column;
  }
  
  .title {
    text-align: center;
    color: white;
    font-size: 80px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 1px; /* Add some top margin */
    font-family: 'Overpass', sans-serif;

  }
  .subtitle {
    text-align: center;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Arvo', serif;
  }

  .wrapper{
    display: flex;
    position: relative;
    font-size: 10px;
  }
  
  .wrapper .sidebar{
    width: 150px;
    height: 100%;
    background: black;
    padding: 30px 0px;
    position: fixed;
  }
  
  .wrapper .sidebar h2{
    color: #027D13;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
  }    
  
  .wrapper .sidebar ul li a{
    color: #bdb8d7;
    display: block;
  }
  
  .wrapper .sidebar ul li a .fas{
    width: 25px;
    color: #027D13;
  }
  
  .wrapper .sidebar ul li:hover{
    background-color: #594f8d;
  }
      
  .wrapper .sidebar ul li:hover a{
    color: #fff;
  }
   
  .wrapper .sidebar .social_media{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  
  .wrapper .main_content{
    width: 100%;
    margin-left: 200px;
  }
  
  .wrapper .main_content .header{
    padding: 20px;
    background: #fff;
    color:#027D13;
    border-bottom: 1px solid #e0e4e8;
  }
  
  .wrapper .main_content .info{
    margin: 20px;
    color: #027D13;
    line-height: 25px;
  }
  
  .wrapper .main_content .info div{
    margin-bottom: 20px;
  }

  .intro {
    width: 1500px;
    font-size: 15px;
    margin-top: 550px;
    margin-right: 300px;
    justify-content: center;
    color: white;
  }
  .aboutme {
    color: white;
  }
  
  @media (max-height: 500px){
    .social_media{
      display: flex;
    }
  }