@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    position: relative; /* Add this to make ::before absolute positioning work */
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    min-height: 100vh;
    overflow: hidden;
}
  
  body::before {
    content: "";
    background-image: url('../images/Background.jpg'); /* Path to your image in the images folder */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7; /* Set the desired opacity */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  .vertical-bar {
    background-color: grey; /* Change to your desired color */
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; /* Text color */
}
  .container {
    margin-top: 200px;
    display: flex;
    align-items: flex-start; /* Align content to the top */
    margin-left: 200px;
    height: 100%;
    width: 100%;
    flex-direction: column;
  }
  
  .title {
    text-align: center;
    color: white;
    font-size: 80px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 1px; /* Add some top margin */
    font-family: 'Overpass', sans-serif;

  }
  .subtitle {
    text-align: center;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Arvo', serif;
  }

  .wrapper{
    display: flex;
    position: relative;
    font-size: 12px;
    
  }
  
  .wrapper .sidebar{
    width: 100px;
    height: 100%;
    background: black;
    padding: 30px 0px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .wrapper .sidebar h2{
    color: #027D13;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 25px;
  }
  .wrapper .sidebar ul {
    margin-top: 230px;
    list-style-type: none;
    align-items: left;
    
  }
  
  .wrapper .sidebar ul li{
    padding: 15px;
    margin-top: 20px;
    
  }    
  
  .wrapper .sidebar ul li a{
    color: #bdb8d7;
    display: flex;
  
  }
  
  .wrapper .sidebar ul li a .fas{
    margin-right: 50px;
    color: #027D13;
    
    
  
  }
  
  .wrapper .sidebar ul li:hover{
    background-color: darkgreen;
  }
      
  .wrapper .sidebar ul li:hover a{
    color: #fff;
  }
  

  .intro {
    width: 3500px;
    font-size: 30px;
    margin-left: 200px;
    margin-top: 675px;
    margin-right: 100px;
    justify-content: center;
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  .aboutme {
    color: white;
  }