@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}
body {
    background: #090f2d;
    color: aliceblue;
}
  
  #header {
    width: 100%;
    height: 100vh;
    background-image: url('../images/Background2.png'); /* Path to your image in the images folder */
    background-size: cover;
    background-position: center; /* Set the desired opacity */
 
  }
  .container{
    padding: 15px 7%;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

  }
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 15px 20px;
  }
  nav ul li a {
    color: aqua;
    text-decoration: none;
    font-size: 18px;
    position: relative;
  }
  nav ul li a:hover {
    color: aliceblue;
  }
  .title{
    margin-top: 13%;
    font-size: 30px;
    justify-content: center;
  }
  .title h1{
    font-size: 80px;
  }
  .title h1 span{
    color: aqua;
  }
  .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .subtitle{
    font-size: 45px;
  }
  /* -----------------about---------------- */
  #about{
    padding: 80px 10%;
  }
  .aboutleft{
    flex-basis: 35%;
  }
  .aboutleft img{
    height: 600px;
    width: 100%;
    border-radius: 15px;
  }
  .aboutright{
    flex-basis: 60%;
    font-size: 24px;
  }

  /*---------contact----------------*/

  .contact-left{
    flex-basis: 35%;
    font-size: 20px;
  }
  .contact-left p{
    margin-top: 20px;
  }
  .contact-left p i{
    color: aqua;
    margin-right: 10px;
    font-size: 30px;
  }

  .social-icons a i{
    margin-top: 30px;
    color: aqua;
  } 
  .contact-right{
    flex-basis: 50%;
  }

  .contact-right form{
    width: 100%;
  }

  form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #182957;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
  }