@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
    background: #090f2d;
    color: aliceblue;
}
.subtitle{
  font-size: 45px;
}
  
  #header {
    width: 100%;
    height: 100vh;
    background-image: url('../images/Background2.png'); /* Path to your image in the images folder */
    background-size: cover;
    background-position: center; /* Set the desired opacity */
 
  }
  .container{
    padding: 15px 7%;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

  }
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 15px 20px;
  }
  nav ul li a {
    color: aqua;
    text-decoration: none;
    font-size: 18px;
    position: relative;
  }
  nav ul li a:hover {
    color: aliceblue;
  }
  .title{
    margin-top: 13%;
    font-size: 30px;
    justify-content: center;
  }
  .title h1{
    font-size: 80px;
  }
  .title h1 span{
    color: aqua;
  }
  .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  /* -----------------about---------------- */
  #about{
    padding: 80px 5%;
  }
  .aboutleft{
    flex-basis: 35%;
  }
  .aboutleft img{
    height: 700px;
    width: 100%;
    border-radius: 15px;
  }
  .aboutright{
    flex-basis: 60%;
    font-size: 24px;
  }
    
  #moreaboutme{
    width: 170px;
    height: 50px;
    background-color: transparent;
    border-color: aqua;
    color: aliceblue;
    border-radius: 7px;
    margin-top: 50px;
    margin-left: 300px;
    transition: 0.2s;
    font-size: 15px;
  }
  #moreaboutme:hover{
    background-color: aqua;
    color: black;
    
  }
  /*---------contact----------------*/

  .contact-left{
    flex-basis: 35%;
    font-size: 20px;
    margin-left: 100px;
  }
  .contact-left p{
    margin-top: 25px;
  }
  .contact-left p i{
    color: aqua;
    margin-right: 10px;
    font-size: 30px;
  }

  .social-icons a i{
    margin-top: 30px;
    color: aqua;
  } 
  .contact-right{
    flex-basis: 50%;
  }

  .contact-right form{
    width: 100%;
  }

  form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #182957;
    padding: 15px;
    margin: 15px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
  }
  #submit{
    width: 170px;
    height: 50px;
    background-color: transparent;
    border-color: aqua;
    color: aliceblue;
    border-radius: 7px;
    margin-top: 10px;
    margin-left: 300px;
    transition: 0.2s;
    font-size: 15px;
  }
  #submit:hover{
    background-color: aqua;
    color: black;
    
  }

  /* -------------project----------- */
  #projects{
    padding: 30px 0;
  }
  .worklist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.5fr));
    grid-gap: 40px;
    margin-top: 50px;
  }
  .work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }
  .work img{
    border-radius: 10px;
    display: block;
    
  }
  .layer{
    width: 79%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), aqua);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    color: white;
    font-size: 17px;
    transition: height 0.4s;
  }
  .layer h3{
    font-size: 20px;
    margin-bottom: 20px;

  }

  .work:hover .layer{
    height: 100%;
  }
  
  
  #morework{
    width: 170px;
    height: 50px;
    background-color: transparent;
    border-color: aqua;
    color: aliceblue;
    border-radius: 7px;
    margin-left: 890px;
    transition: 0.2s;
    font-size: 15px;
    margin-bottom: 20px;
  }
  #morework:hover{
    background-color: aqua;
    color: black;
    
  }
  